<div class="container d-flex justify-content-evenly py-2">
    <i class="fa-solid fa-cannabis fa-2x"></i>
    <i class="fa-solid fa-cannabis fa-2x"></i>
    <i class="fa-solid fa-cannabis fa-2x"></i>
    <i class="fa-solid fa-cannabis fa-2x"></i>
    <i class="fa-solid fa-cannabis fa-2x"></i>
    <i class="fa-solid fa-cannabis fa-2x"></i>
    <i class="fa-solid fa-cannabis fa-2x"></i>
    <i class="fa-solid fa-cannabis fa-2x"></i>
</div>