<div class="text-center">

    <!-- Headline -->
    <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-6 text-center mx-auto w-responsive">
            <h2 class="fs-1 mb-3 fw-fat">Für jeden Anlass</h2>
            <p class="fs-5 opacity-80 mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Omnis beatae architecto similique velit sit rem.</p></div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
            <div class="card">
                <div class="bg-image hover-overlay hover-zoom ripple" data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(147).jpg" class="img-fluid"/>
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="text-primary mt-2 mb-3"><i class="fas fa-utensils"></i> Lunches</h5>
                    <h5 class="mb-3">This is title of the news</h5>
                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                        aliquid ex ea commodi.</p>
                    <button class="btn btn-primary btn-sm mb-2">Book a room</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
            <div class="card">
                <div class="bg-image hover-overlay hover-zoom ripple" data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(151).jpg" class="img-fluid"/>
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="text-primary mt-2 mb-3"><i class="fas fa-birthday-cake"></i> Dessert</h5>
                    <h5 class="mb-3">This is title of the news</h5>
                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                        aliquid ex ea commodi.</p>
                    <button class="btn btn-primary btn-sm mb-2">Book a room</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-0">
            <div class="card">
                <div class="bg-image hover-overlay hover-zoom ripple" data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(149).jpg" class="img-fluid"/>
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="text-primary mt-2 mb-3"><i class="fas fa-glass-martini"></i> Drinks</h5>
                    <h5 class="mb-3">This is title of the news</h5>
                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                        aliquid ex ea commodi.</p>
                    <button class="btn btn-primary btn-sm mb-2">Book a room</button>
                </div>
            </div>
        </div>
    </div>
</div>