<div class="text-center">

    <!-- Headline -->
    <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-6 text-center mx-auto w-responsive">
            <h2 class="fs-1 mb-3 fw-fat">Für jeden Anlass</h2>
            <p class="fs-5 opacity-80 mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Omnis beatae architecto similique velit sit rem.</p></div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
            <div class="card">
                <div class="bg-image hover-overlay hover-zoom ripple" data-mdb-ripple-color="light">
                    <img src="https://as2.ftcdn.net/v2/jpg/02/37/88/21/1000_F_237882143_2bVADKFRE2XujHJIXSrPKtzmclnb6Wwz.jpg"
                         class="img-fluid"/>
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="text-primary mt-2 mb-3"><i class="fa-duotone fa-salad me-2"></i>Vorspeisen</h5>
                    <h5 class="mb-3">Fingerfood und Salat</h5>
                    <p>Hübsch angerichtet und gut abgeschmeckt, sind sie ein idealer Auftakt für ein tolles Menü mit
                        Freunden oder der Familie.</p>
                    <button class="btn btn-primary btn-sm mb-2">Book a room</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
            <div class="card">
                <div class="bg-image hover-overlay hover-zoom ripple" data-mdb-ripple-color="light">
                    <img src="https://as1.ftcdn.net/v2/jpg/02/83/44/32/1000_F_283443205_bwGYoCHie9wV0t7JoPyspLbdPlsWOC4q.jpg"
                         class="img-fluid"/>
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="text-primary mt-2 mb-3"><i class="fa-duotone fa-plate-utensils me-2"></i>Hauptgerichte
                    </h5>
                    <h5 class="mb-3">Warme Speisen</h5>
                    <p>Die Vielfalt an Hauptgerichten ist groß! Raffinierte Fleischrezepte, Fischgerichte, sowie
                        vegetarische und vegane Ideen.</p>
                    <button class="btn btn-primary btn-sm mb-2">Book a room</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-0">
            <div class="card">
                <div class="bg-image hover-overlay hover-zoom ripple" data-mdb-ripple-color="light">
                    <img src="https://as1.ftcdn.net/v2/jpg/01/44/42/72/1000_F_144427254_94DZrc42I7oyxoBVLLfN7ot14iturIDr.jpg"
                         class="img-fluid"/>
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="text-primary mt-2 mb-3"><i class="fa-duotone fa-cake-slice me-2"></i>Desserts</h5>
                    <h5 class="mb-3">Eis und Gebäck</h5>
                    <p>Entdecke leckere Edibles für jeden Tag, Cannabis Desserts mit Früchten, beliebte
                        Klassiker mit und WOW-Faktor für deine Gäste!</p>
                    <button class="btn btn-primary btn-sm mb-2">Book a room</button>
                </div>
            </div>
        </div>
    </div>
</div>