<div class="mb-9" data-draggable="true" class="position-relative" draggable="false">
    <section draggable="false" class="overflow-hidden pt-0">
        <div class="page-header bg-intro-cooking filter-contrast bg-intro bg-image bg-fixed"
             aria-controls="#picker-editor">
            <div class="mask mask-dark">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100 text-center text-white">
                        <div class="col-md-10 col-lg-8 col-xl-6">
                            <!-- Intro text -->
                            <h1 class="lh-1 ls-tight fw-fat display-3 pt-5">Kochen & Trinken</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-relative overflow-hidden" style="height: 36px; margin-top: -35px;">
            <div class="w-full absolute bottom-0 start-0 end-0"
                 style="transform: scale(2); transform-origin: top center; color: #fff;">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
                          fill="currentColor"></path>
                </svg>
            </div>
        </div>
    </section>
</div>