<div>

    <!-- Headline -->
    <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-6 text-center mx-auto w-responsive">
            <h2 class="fs-1 mb-3 fw-fat">Zufällige Rezepte</h2>
            <p class="fs-5 opacity-80 mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Omnis beatae architecto similique velit sit rem.</p></div>
    </div>

    <!-- Food caroussel -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(40).jpg"
                 data-mdb-img="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(40).jpg"
                 alt="Lightbox image 1"
                 class="w-100 shadow-1-strong rounded"/>
        </div>
        <div class="col-lg-4 mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(48).jpg"
                 data-mdb-img="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(48).jpg"
                 alt="Lightbox image 2"
                 class="w-100 shadow-1-strong rounded"/>
        </div>
        <div class="col-lg-4 mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(42).jpg"
                 data-mdb-img="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(42).jpg"
                 alt="Lightbox image 3"
                 class="w-100 shadow-1-strong rounded"/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(44).jpg"
                 data-mdb-img="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(44).jpg"
                 alt="Lightbox image 1"
                 class="w-100 shadow-1-strong rounded"/>
        </div>
        <div class="col-lg-4 mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(41).jpg"
                 data-mdb-img="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(41).jpg"
                 alt="Lightbox image 2"
                 class="w-100 shadow-1-strong rounded"/>
        </div>
        <div class="col-lg-4">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(47).jpg"
                 data-mdb-img="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(47).jpg"
                 alt="Lightbox image 3"
                 class="w-100 shadow-1-strong rounded"/>
        </div>
    </div>
</div>