<div>

    <!-- Headline -->
    <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-6 text-center mx-auto w-responsive">
            <h2 class="fs-1 mb-3 fw-fat">Zufällige Rezepte</h2>
            <p class="fs-5 opacity-80 mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Omnis beatae architecto similique velit sit rem.</p></div>
    </div>

    <!-- Food caroussel -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <img src="https://as1.ftcdn.net/v2/jpg/02/39/69/14/1000_F_239691460_nND7BpqRvEQsdxqmqdPlysbr9LHEatID.jpg"
                 data-mdb-img="https://as1.ftcdn.net/v2/jpg/02/39/69/14/1000_F_239691460_nND7BpqRvEQsdxqmqdPlysbr9LHEatID.jpg"
                 alt="Lightbox image 1" class="w-100 shadow-1-strong rounded"/>
        </div>
        <div class="col-lg-4 mb-4">
            <img src="https://as2.ftcdn.net/v2/jpg/03/65/29/67/1000_F_365296704_LPh4JBLEbWkHNAaz1TNJ3r1Bha849wuK.jpg"
                 data-mdb-img="https://as2.ftcdn.net/v2/jpg/03/65/29/67/1000_F_365296704_LPh4JBLEbWkHNAaz1TNJ3r1Bha849wuK.jpg"
                 alt="Lightbox image 2"
                 class="w-100 shadow-1-strong rounded"/>
        </div>
        <div class="col-lg-4 mb-4">
            <img src="https://as2.ftcdn.net/v2/jpg/03/78/95/49/1000_F_378954981_VNeM87Ij5ncsyxZjU3pDYCcY3Z3wLuZh.jpg"
                 data-mdb-img="https://as2.ftcdn.net/v2/jpg/03/78/95/49/1000_F_378954981_VNeM87Ij5ncsyxZjU3pDYCcY3Z3wLuZh.jpg"
                 alt="Lightbox image 3"
                 class="w-100 shadow-1-strong rounded"/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <img src="https://as2.ftcdn.net/v2/jpg/02/72/74/05/1000_F_272740546_5fZpEdGI4LZLDgAQoJUuEcWW2cTGsu4o.jpg"
                 data-mdb-img="https://as2.ftcdn.net/v2/jpg/02/72/74/05/1000_F_272740546_5fZpEdGI4LZLDgAQoJUuEcWW2cTGsu4o.jpg"
                 alt="Lightbox image 1"
                 class="w-100 shadow-1-strong rounded"/>
        </div>
        <div class="col-lg-4 mb-4">
            <img src="https://as2.ftcdn.net/v2/jpg/04/80/13/35/1000_F_480133571_3GgIAZDd7TVuwJ7SNI83EY12JNGyPHg2.jpg"
                 data-mdb-img="https://as2.ftcdn.net/v2/jpg/04/80/13/35/1000_F_480133571_3GgIAZDd7TVuwJ7SNI83EY12JNGyPHg2.jpg"
                 alt="Lightbox image 2"
                 class="w-100 shadow-1-strong rounded"/>
        </div>
        <div class="col-lg-4">
            <img src="https://as1.ftcdn.net/v2/jpg/01/65/59/84/1000_F_165598422_ALVzfb9UTq3sQiknel1U3biAXyGCtwOu.jpg"
                 data-mdb-img="https://as1.ftcdn.net/v2/jpg/01/65/59/84/1000_F_165598422_ALVzfb9UTq3sQiknel1U3biAXyGCtwOu.jpg"
                 alt="Lightbox image 3"
                 class="w-100 shadow-1-strong rounded"/>
        </div>
    </div>
</div>