<div>

    <!-- Headline -->
    <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-6 text-center mx-auto w-responsive">
            <h2 class="fs-1 mb-3 fw-fat">Zufällige Rezepte</h2>
            <p class="fs-5 opacity-80 mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Omnis beatae architecto similique velit sit rem.</p></div>
    </div>

    <!-- Food caroussel -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <img src="https://as1.ftcdn.net/v2/jpg/03/03/75/24/1000_F_303752487_SK0yFgLipG1UPCbh9FADlW2xLorWl453.jpg"
                 data-mdb-img="https://as1.ftcdn.net/v2/jpg/03/03/75/24/1000_F_303752487_SK0yFgLipG1UPCbh9FADlW2xLorWl453.jpg"
                 alt="Lightbox image 1"
                 class="w-100 shadow-1-strong rounded"/>
        </div>
        <div class="col-lg-4 mb-4">
            <img src="https://as2.ftcdn.net/v2/jpg/01/73/25/41/1000_F_173254105_uXFr6dApNELDtwqO8onyL22uELgbNib7.jpg"
                 data-mdb-img="https://as2.ftcdn.net/v2/jpg/01/73/25/41/1000_F_173254105_uXFr6dApNELDtwqO8onyL22uELgbNib7.jpg"
                 alt="Lightbox image 2"
                 class="w-100 shadow-1-strong rounded"/>
        </div>
        <div class="col-lg-4 mb-4">
            <img src="https://t3.ftcdn.net/jpg/01/09/60/88/240_F_109608870_uBj3brYckojgnujvJwDrUKVyPK6ZiXHT.jpg"
                 data-mdb-img="https://t3.ftcdn.net/jpg/01/09/60/88/240_F_109608870_uBj3brYckojgnujvJwDrUKVyPK6ZiXHT.jpg"
                 alt="Lightbox image 3"
                 class="w-100 shadow-1-strong rounded"/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <img src="https://as2.ftcdn.net/v2/jpg/03/03/75/25/1000_F_303752557_g1XYyX6D3qxR5Ie5xDo9LFkxNdeWoO2L.jpg"
                 data-mdb-img="https://as2.ftcdn.net/v2/jpg/03/03/75/25/1000_F_303752557_g1XYyX6D3qxR5Ie5xDo9LFkxNdeWoO2L.jpg"
                 alt="Lightbox image 2"
                 class="w-100 shadow-1-strong rounded"/>
        </div>
        <div class="col-lg-4 mb-4">
            <img src="https://t3.ftcdn.net/jpg/02/39/69/10/240_F_239691000_9FtDqFx3fPdfSydaFViHoQQZ549Dn9en.jpg"
                 data-mdb-img="https://t3.ftcdn.net/jpg/02/39/69/10/240_F_239691000_9FtDqFx3fPdfSydaFViHoQQZ549Dn9en.jpg"
                 alt="Lightbox image 1"
                 class="w-100 shadow-1-strong rounded"/>
        </div>
        <div class="col-lg-4">
            <img src="https://as2.ftcdn.net/v2/jpg/02/97/65/13/1000_F_297651300_FlkNyW07I7HVmXypfICiskrgqKjeY3se.jpg"
                 data-mdb-img="https://as2.ftcdn.net/v2/jpg/02/97/65/13/1000_F_297651300_FlkNyW07I7HVmXypfICiskrgqKjeY3se.jpg"
                 alt="Lightbox image 3"
                 class="w-100 shadow-1-strong rounded"/>
        </div>
    </div>
</div>