<div data-draggable="true" class="" style="position: relative;" draggable="false"><!----><!---->
    <section draggable="false" class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-6 text-center mx-auto w-responsive">
                <h2 class="fs-1 mb-3 fw-fat">Empfohlene Artikel</h2>
                <p class="fs-5 opacity-80 mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Omnis beatae architecto similique velit sit rem.</p></div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-4 mb-4 mb-lg-0 d-flex align-self-stretch">
                <div class="card">
                    <div class="bg-image hover-overlay ripple ripple-surface-light"
                         data-mdb-ripple-color="light" style="">
                        <img src="https://as2.ftcdn.net/v2/jpg/02/45/76/21/1000_F_245762169_wHk0IHQSdSsuldgpKQM2ZGcrbOlrNDgA.jpg"
                             class="card-img-top" alt="Card image" aria-controls="#picker-editor"
                             draggable="false"> <a href="#!" draggable="false">
                            <div class="mask mask-white"></div>
                        </a></div>
                    <div class="card-body">
                        <p class="text-primary mb-2 pb-1" style="font-size: .875rem; font-weight: 500;">
                            Medizin</p>
                        <h5 class="mb-3">Cannabis als Medikament bei Krebs und anderen Krankheiten</h5>
                        <p class="text-muted mb-0">Neque porro quisquam est, qui dolorem ipsum quia dolor
                            sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                            incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p></div>
                    <div class="card-footer pb-4 border-0">
                        <div class="d-flex flex-row align-items-center"><img
                                    src="https://mdbootstrap.com/img/Photos/Avatars/img%20(28).jpg"
                                    class="rounded-circle" height="45" alt="avatar" loading="lazy"
                                    aria-controls="#picker-editor" draggable="false">
                            <div class="ms-3"><p class="mb-0" style="font-size: .875rem; font-weight: 500;">
                                    Giulia Trovato</p>
                                <p class="mb-0 opacity-80" style="font-size: .875rem;">Mar 16, 2021 • 7 min
                                    read</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 d-flex align-self-stretch">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light"><img
                                src="https://as2.ftcdn.net/v2/jpg/04/18/90/87/1000_F_418908766_legFsSSRf22ic7pbU0sw35MadQdX3ENf.jpg"
                                class="card-img-top" alt="Card image" aria-controls="#picker-editor"
                                draggable="false"> <a href="#!" draggable="false">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a></div>
                    <div class="card-body"><p class="text-primary mb-2 pb-1"
                                              style="font-size: .875rem; font-weight: 500;">Kreativität</p>
                        <h5 class="mb-3">Die 10 besten Methoden um Cannabis zu rauchen</h5>
                        <p class="text-muted mb-0">Quis autem vel eum iure reprehenderit qui in ea voluptate
                            velit esse quam nihil molestiae elit consequatur, vel illum qui dolorem eum
                            fugiat quo voluptas nulla pariatur. Ut enim ad minima veniam, quis nostrum
                            exercitationem ullam corporis suscipit laboriosam ratiunt.</p></div>
                    <div class="card-footer pb-4 border-0">
                        <div class="d-flex flex-row align-items-center"><img
                                    src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg"
                                    class="rounded-circle" height="45" alt="avatar" loading="lazy"
                                    aria-controls="#picker-editor" draggable="false">
                            <div class="ms-3"><p class="mb-0" style="font-size: .875rem; font-weight: 500;">
                                    Lorenzo Bocelli</p>
                                <p class="mb-0 opacity-80" style="font-size: .875rem;">Mar 15, 2021 • 6 min
                                    read</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 d-flex align-self-stretch">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light"><img
                                src="https://as1.ftcdn.net/v2/jpg/02/66/08/32/1000_F_266083262_15jdUroCXTA7QKt8azRwqgnBcH9EhcrZ.jpg"
                                class="card-img-top" alt="Card image" aria-controls="#picker-editor"
                                draggable="false"> <a href="#!" draggable="false">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a></div>
                    <div class="card-body">
                        <p class="text-primary mb-2 pb-1" style="font-size: .875rem; font-weight: 500;">Politik</p>
                        <h5 class="mb-3">Marihuana in Mexiko: Grün ist die Hoffnung</h5>
                        <p class="text-muted mb-0">Ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.</p></div>
                    <div class="card-footer pb-4 border-0">
                        <div class="d-flex flex-row align-items-center"><img
                                    src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg"
                                    class="rounded-circle" height="45" alt="avatar" loading="lazy"
                                    aria-controls="#picker-editor" draggable="false">
                            <div class="ms-3"><p class="mb-0" style="font-size: .875rem; font-weight: 500;">
                                    Alice Ferrari</p>
                                <p class="mb-0 opacity-80" style="font-size: .875rem;">Mar 14, 2021 • 8 min
                                    read</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>