<article class="mb-9">
    <section>
        <%- include('blog-cards') %>
    </section>
</article>

<article class="mb-9">
    <section>
        <%- include('usps') %>
    </section>
</article>

<article class="mb-9">
    <section>
        <%- include('vips') %>
    </section>
</article>

<article class="mb-9">
    <section>
        <%- include('cta') %>
    </section>
</article>
