<div data-draggable="true" class="position-relative">
    <section draggable="false" class="container" data-v-271253ee="">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0"><h2 class="fw-bold mb-4">Prominente Cannabis Konsumenten</h2>
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Repellendus quae aliquid iure quam itaque. Molestias harum aut possimus adipisci, illum
                    alias impedit odit incidunt minima dolorum.</p></div>

            <div class="col-md-8 mb-4 mb-md-0">

                <div class="row gx-lg-5">

                    <div class="col-md-6 mb-5">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="flex-shrink-0">
                                <div class=""><img
                                            src="https://media.gq.com/photos/566afb0d93d6666946f8bcd7/1:1/w_120,c_limit/musk.LONG-FORM.1.jpg"
                                            class="rounded-circle shadow-4" alt=""
                                            style="width: 80px; height: 80px;"
                                            aria-controls="#picker-editor"></div>
                            </div>
                            <div class="flex-grow-1 ms-4"><p class="fw-bold mb-1">Elon Musk</p>
                                <p class="text-muted mb-0">Gründer von PayPal und SpaceX</p></div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-5">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="flex-shrink-0">
                                <div class=""><img
                                            src="https://sc02.alicdn.com/kf/H4728e65c90c54440addb048fd1944951Q/243360059/H4728e65c90c54440addb048fd1944951Q.jpg_.webp"
                                            class="rounded-circle shadow-4" alt=""
                                            style="width: 80px; height: 80px;"
                                            aria-controls="#picker-editor"></div>
                            </div>
                            <div class="flex-grow-1 ms-4"><p class="fw-bold mb-1">Johnny Depp</p>
                                <p class="text-muted mb-0">Schauspieler, Regisseur und Gitarrist</p></div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-5 mb-md-0">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <div class=""><img
                                            src="https://purepng.com/public/uploads/large/purepng.com-barack-obamabarack-obamapoliticianamericanpresidentserved-1701528015349anvkm.png"
                                            class="rounded-circle shadow-4" alt=""
                                            style="width: 80px; height: 80px;"
                                            aria-controls="#picker-editor"></div>
                            </div>
                            <div class="flex-grow-1 ms-4"><p class="fw-bold mb-1">Barack Obama</p>
                                <p class="text-muted mb-0">erster schwarzer US-Präsident</p></div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-5 mb-md-0">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <div class=""><img
                                            src="https://pngimg.com/uploads/mark_zuckerberg/mark_zuckerberg_PNG25.png"
                                            class="rounded-circle shadow-4" alt=""
                                            style="width: 80px; height: 80px;"
                                            aria-controls="#picker-editor"></div>
                            </div>
                            <div class="flex-grow-1 ms-4"><p class="fw-bold mb-1">Mark Zuckerberg</p>
                                <p class="text-muted mb-0">Gründer von Facebook und Meta</p></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>