<div data-draggable="true" class="" style="position: relative;" draggable="false">
    <section draggable="false" class="container">
        <section class="position-relative">
            <div class="row gx-0">
                <div class="col-md-5 mb-4 mb-md-0">
                    <div class="d-flex py-md-5">
                        <img src="https://as2.ftcdn.net/v2/jpg/02/82/51/53/1000_F_282515314_wJPhKM2NhVUJuSRhyu2EDKkilk9lovCb.jpg"
                             class="w-100 rounded-5 shadow-3-strong" id="cta-img-nml-50" style="z-index: 10;"
                             alt="" aria-controls="#picker-editor" draggable="false"></div>
                </div>
                <div class="col-md-7 mb-4 mb-md-0">
                    <div class=" bg-primary h-100 rounded-6 p-4 ps-md-5 text-white d-flex align-items-center"
                         aria-controls="#picker-editor">
                        <div class="text-center ps-3">
                            <h2 class="fw-bold mb-4">Neuste Rezepte</h2>
                            <p class="mb-4">Kochen ist dein Hobby und du brauchst regelmäßig neue Ideen? Abonniere
                                unseren Newsletter und erhalte automatisierte kreative Kochrezepte für Essen und
                                Trinken.</p>
                            <a type="button" class="btn btn-outline-white btn-rounded btn-lg"
                               aria-controls="#picker-editor" draggable="false">Jetzt erhalten</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>