<div data-draggable="true" class="" style="position: relative;" draggable="false">
    <section draggable="false" class="container">
        <section class="position-relative">
            <div class="row gx-0">
                <div class="col-md-5 mb-4 mb-md-0">
                    <div class="d-flex py-md-5"><img
                                src="https://as2.ftcdn.net/v2/jpg/02/52/16/91/1000_F_252169160_hp4mb3blMIWOx3UEgthPQwqOItJefgdD.jpg"
                                class="w-100 rounded-5 shadow-3-strong" id="cta-img-nml-50" style="z-index: 10;"
                                alt="" aria-controls="#picker-editor" draggable="false"></div>
                </div>
                <div class="col-md-7 mb-4 mb-md-0">
                    <div class=" bg-primary h-100 rounded-6 p-4 ps-md-5 text-white d-flex align-items-center"
                         aria-controls="#picker-editor">
                        <div class="text-center ps-3">
                            <h2 class="fw-bold mb-4">Das ist für dich</h2>
                            <p class="mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime,
                                sint, repellat vel quo quisquam accusamus in qui at ipsa enim quibusdam illo
                                laboriosam omnis. Labore itaque illum distinctio eum neque!</p>
                            <a type="button" class="btn btn-outline-white btn-rounded btn-lg"
                               aria-controls="#picker-editor" draggable="false">Portal öffnen</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>