<div data-draggable="true" class="" style="position: relative;">
    <section draggable="false" class="container">
        <div class="card bg-dark bg-image bg-fixed text-white bg-usps">
            <div class="card-img-overlay bg-gradient" style="pointer-events: none">
                <div class="row h-100">
                    <div class="col-lg-6 d-flex align-items-center h-100">
                        <div>
                            <h2 class="fs-2 fw-fat mb-3">Die wichtigsten Cannabis-Fakten</h2>
                            <p class="fw-normal mb-5 opacity-80">At vero eos et accusamus et iusto odio
                                dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
                                corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate
                                provident, similique sunt in culpa qui officia deserunt.</p>
                            <div class="row">
                                <div class="col-lg-6 mb-5"><h4 class="fw-fat">400M+</h4>
                                    <p><span>€ (EURO) Umsatz</span>&nbsp;<span class="opacity-80">im Jahr 2021 in Europa.</span>
                                    </p></div>
                                <div class="col-lg-6 mb-5"><h4 class="fw-fat">340K+</h4>
                                    <p><span>CBD-Verordnungen</span> <span
                                                class="opacity-80">in Deutschland insgesamt.</span>
                                    </p></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-5 mb-lg-0"><h4 class="fw-fat">1000M+</h4>
                                    <p class="mb-0">
                                        <span>€ (EURO) Polizeikosten</span>&nbsp;<span class="opacity-80">gespart im Jahr 2021</span>
                                    </p>
                                </div>
                                <div class="col-lg-6"><h4 class="fw-fat">92%</h4>
                                    <p class="mb-0">
                                        <span>Wirksamkeit</span>&nbsp;<span class="opacity-80">gegen Krebs.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>