<div data-draggable="true" class="" style="position: relative;">
    <section draggable="false" class="container">
        <div class="card bg-dark bg-image bg-fixed text-white bg-usps">
            <div class="card-img-overlay bg-gradient" style="pointer-events: none">
                <div class="row h-100">
                    <div class="col-lg-6 d-flex align-items-center h-100">
                        <div>
                            <h2 class="fs-2 fw-fat mb-3">Nährwerte eines Cannabis-Samen</h2>
                            <p class="fw-normal mb-5 opacity-80">Die kleinen Samen sind reich an wertvollen Nährwerten
                                und enthalten über <strong>30 Prozent gesunde Fette</strong>, bei denen es sich um
                                <strong>essenzielle Fettsäuren</strong> handelt, die nicht vom Körper selbst hergestellt werden können.
                            </p>
                            <div class="row">
                                <div class="col-lg-6 mb-5"><h4 class="fw-fat">53g</h4>
                                    <p><span>Fett</span>&nbsp;<span class="opacity-80">(davon 9 g einfach ungesättigt und 38 g mehrfach ungesättigt)</span>
                                    </p></div>
                                <div class="col-lg-6 mb-5"><h4 class="fw-fat">3g</h4>
                                    <p><span>Kohlenhydrate</span> <span
                                                class="opacity-80">(davon 3 g Zucker)</span>
                                    </p></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-5 mb-lg-0"><h4 class="fw-fat">31g</h4>
                                    <p class="mb-0">
                                        <span>Eiweiß</span>&nbsp;<span class="opacity-80">und BCAA</span>
                                    </p>
                                </div>
                                <div class="col-lg-6"><h4 class="fw-fat">3,5g</h4>
                                    <p class="mb-0">
                                        <span>Ballaststoffe</span>&nbsp;<span class="opacity-80">bestehend aus Zellulose und Hemizellulose</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>