<div data-draggable="true" class="position-relative">
    <section draggable="false" class="container" data-v-271253ee="">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0"><h2 class="fw-bold mb-4">Prominente Cannabis Köche</h2>
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Repellendus quae aliquid iure quam itaque. Molestias harum aut possimus adipisci, illum
                    alias impedit odit incidunt minima dolorum.</p></div>

            <div class="col-md-8 mb-4 mb-md-0">

                <div class="row gx-lg-5">

                    <div class="col-md-6 mb-5">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="flex-shrink-0">
                                <div class="">
                                    <img src="https://media.creativemornings.com/uploads/user/avatar/372923/PAYTON-cmBioPhoto.jpg"
                                         class="rounded-circle shadow-4" alt=""
                                         style="width: 80px; height: 80px;"
                                         aria-controls="#picker-editor"></div>
                            </div>
                            <div class="flex-grow-1 ms-4"><p class="fw-bold mb-1">Payton Curry</p>
                                <p class="text-muted mb-0">Koch und Autor von <i>„Nutritional Marijuana Cookbook“</i>
                                </p></div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-5">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="flex-shrink-0">
                                <div class="">
                                    <img src="https://megaphone.imgix.net/podcasts/10deeae2-8bee-11ea-9ab9-27dc2485c773/image/8d66eb17bb7d02ca4856ab443a78f2148cafbb129f58a3c81282007c6fe24ff2.jpeg?ixlib=rails-2.1.2&max-w=3000&max-h=3000&fit=crop&auto=format,compress"
                                         class="rounded-circle shadow-4" alt=""
                                         style="width: 80px; height: 80px;"
                                         aria-controls="#picker-editor"></div>
                            </div>
                            <div class="flex-grow-1 ms-4"><p class="fw-bold mb-1">Chris Sayegh</p>
                                <p class="text-muted mb-0">Koch und Gründer von <a href="https://foodsteez.com">foodsteez.com</a>
                                </p></div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-5 mb-md-0">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <div class="">
                                    <img src="https://spiritplantmedicine.com/wp-content/uploads/2018/04/Chris-Kilham-bio-pic.jpg"
                                         class="rounded-circle shadow-4" alt=""
                                         style="width: 80px; height: 80px;" aria-controls="#picker-editor"></div>
                            </div>
                            <div class="flex-grow-1 ms-4"><p class="fw-bold mb-1">Chris Kilham</p>
                                <p class="text-muted mb-0">Koch und Gründer von <a href="https://medicinehunter.com">medicinehunter.com</a>
                                </p></div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-5 mb-md-0">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <div class="">
                                    <img src="https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2.0,f_auto,g_center,h_250,q_auto:good,w_250/v1/gcs/platform-data-startupgrind/events/Mindy%27s%20headshots%20-%20lower%20res%20-%20Dana%20Mason_4sO7hfN.PNG"
                                         class="rounded-circle shadow-4" alt=""
                                         style="width: 80px; height: 80px;" aria-controls="#picker-editor"></div>
                            </div>
                            <div class="flex-grow-1 ms-4"><p class="fw-bold mb-1">Mindy Segal</p>
                                <p class="text-muted mb-0">Köchin und Gründerin von <a href="https://mindysbakery.com">mindysbakery.com</a>
                                </p></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>